<div class="space-y-6">
  <%= render "application/shared/page_header",
             title:    t("platform.credit_bundles.new.title"),
             subtitle: t("platform.credit_bundles.new.subtitle") %>

  <%= render layout: "application/shared/card" do %>
    <%= render "form", bundle: @bundle %>
  <% end %>
</div>
