<% if defined?(@manager) && @manager.errors.any? %>
  <div id="manager_error_explanation" class="rounded-lg border border-red-200 bg-red-50 px-3 py-2 text-sm text-red-800 mb-4" data-turbo-temporary>
    <h2 class="font-semibold">
      <%= I18n.t("errors.messages.not_saved",
                 count: @manager.errors.count,
                 resource: User.model_name.human.downcase) %>
    </h2>
    <ul class="mt-1 list-disc list-inside">
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
