<% content_for :email_preheader, "Your account email address was updated." %>
<% content_for :email_eyebrow, "Security" %>
<% content_for :email_title, "Email address updated" %>
<% content_for :email_intro, "This is a confirmation for a change on your account." %>

<p style="margin: 0 0 16px;">Hello <%= @email %>.</p>

<%= render "shared/mailer/callout",
           title: "Account update",
           tone: "info",
           content: (@resource.try(:unconfirmed_email?) ?
             "We're contacting you to notify you that your email is being changed to #{@resource.unconfirmed_email}." :
             "We're contacting you to notify you that your email has been changed to #{@resource.email}.") %>
