<% content_for :email_preheader, "Your account password was changed." %>
<% content_for :email_eyebrow, "Security" %>
<% content_for :email_title, "Password changed" %>
<% content_for :email_intro, "This is a confirmation for a password update on your account." %>

<p style="margin: 0 0 16px;">Hello <%= @resource.email %>.</p>
<p style="margin: 0;">We're contacting you to notify you that your password has been changed.</p>
