<% url = edit_password_url(@resource, reset_password_token: @token) %>
<% content_for :email_preheader, "Use the secure link in this email to reset your password." %>
<% content_for :email_eyebrow, "Security" %>
<% content_for :email_title, "Reset your password" %>
<% content_for :email_intro, "Someone requested a password reset for #{@resource.email}." %>
<% content_for :email_cta_label, "Change my password" %>
<% content_for :email_cta_url, url %>

<p style="margin: 0 0 16px;">Hello <%= @resource.email %>.</p>

<%= render "shared/mailer/callout",
           title: "Security notice",
           tone: "warning",
           content: "If you did not request this, you can ignore this email. Your password will stay the same until you open the link above and create a new one." %>
