<p><%= t("data_exports.package_mailer.export_ready.greeting", name: @user.name.presence || @user.email) %></p>

<p><%= t("data_exports.package_mailer.export_ready.body") %></p>

<p><%= t("data_exports.package_mailer.export_ready.footer") %></p>
